@import "../../styles/mixins";
.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    font-weight: bold;
    font-family: serif, "Segoe UI", Tahoma, Geneva, Verdana;
    color: #494747;
    margin: 0 auto 20px;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
    @include medium {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      & .collection-item {
        width: 100%;
      }
    }
    @include small {
      grid-template-columns: 1fr auto 1fr;

      & .collection-item {
        width: 80vw;
        grid-column-start: 2;
      }
    }
  }
}
